body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

@font-face {
    font-family: SevenSegment;
    src: url("../fonts/LetsGoDigital.ttf");
}

.swiper-container {
    min-height: 100vh;
}

.slide-content {
    margin: 1vh;
    margin-left: 1vw;
    margin-right: 4vw;
    overflow: hidden;
}

.swiper-pagination-bullet {
    background: white;
}

.header {
    background-color: #202020;
    font-size: 2.5vw;
    width: 100%;
    line-height: 5vw;
    height: 5vw;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

#settings-slide {
    visibility: hidden;
}

.setting-div {
    font-size: 3vw;
    height: 12vh;
}

.setting-label {
    display: inline-block;
    min-width: 35vw;
    color: #F0F0F0
}

.settings-radio-button-text {
    color: #EEFFEE;
}

.setting-div input[type=text] {
    font-size: 3vw;
    width: 50vw;
    background: transparent;
    color: #EEFFEE;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    outline: none;
    padding: 0px 0px 0px 0px;
}

.setting-div input[type=radio] {
    border: 0px;
    width: 2.8vw;
    height: 2.8vw;
}

#start-button-wrapper {
    text-align: center;
}

#start-button {
    margin-top: 2%;
    background-color: red;
    -webkit-border-radius: 0.8vw;
    border-radius: 0.8vw;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 6vh;
    font-weight: bold;
    padding: 2vh 0px;
    text-decoration: none;
    min-width: 90%;
}

#lean-angle-panel {
    float: left;
    width: 50%;
}

.min-max {
    font-size: 2vw;
    margin-left: 4vw;
}

.min-max-text {
    float: left;
    min-width: 14vw;
}

.min-max-info {
    font-family: SevenSegment;
    font-size: 2vw;
}

#gps-info-panel {
    float: right;
    text-align: right;
    width: 50%;
}

#gps-accuracy-text {
    font-size: 2.5vw;
}

#gps-accuracy {
    font-family: SevenSegment;
    font-size: 3.2vw;
}

#gps-speed-wrapper {
    line-height: 40vw;
    height: 40vw;
    vertical-align: middle;
    font-family: SevenSegment;
}

#gps-speed {
    font-size: 27vw;
}

.gps-speed-units {
    font-size: 5vw;
}

#lean-angle-dial {
    width: 100%;
    height: 30vw;
}

#log {
    font-family: courier, monospace;
    font-size: 1.5vw;
    overflow-y: scroll;
    max-height: 80vh;
}

#crash-not-detected-text {
    font-size: 3vw;
}

#crash-detected-button-wrapper {
    text-align: center;
}

#crash-detected-button {
    margin-top: 2%;
    background-color: red;
    -webkit-border-radius: 0.8vw;
    border-radius: 0.8vw;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 7vh;
    font-weight: bold;
    padding: 4vh 0px;
    text-decoration: none;
    min-width: 90%;
}

#crash-detected-timer-text {
    font-size: 3vw;
    text-align: center;
}

#crash-detected-timer {
    font-family: SevenSegment;
    font-size: 30vw;
}

#map-wrapper {
    width: 94vw;
    height: 80vh;
}

#map {
    width: 94vw;
    height:80vh;
}

.map-overlay{
    display: block;
    width: 15vw;
    color: #fff;
    font-size: 2vw;
    line-height: 3vw;
    opacity: 0.8;
    background: #4477aa;
    border: solid 3px #336699;
    border-radius:4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 4px;
}

.map-overlay-label {
    float: left;
    min-width: 6.5vw;
}

#map-options {
    position: absolute;
    top: 18vh;
    left: 75vw;
    z-index: 2;
    display: block;
    width: 16vw;
    color: #fff;
    font-size: 2vw;
    line-height: 3vw;
    opacity: 0.8;
    background: #4477aa;
    border: solid 3px #336699;
    border-radius:4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 4px;
}

#map-options input[type=radio] {
    border: 0px;
    width: 2vw;
    height: 2vw;
}
