body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

@font-face {
    font-family: SevenSegment;
    src: url("../fonts/LetsGoDigital.ttf");
}

.swiper-container {
    height: 100vh;
}

.slide-content {
    margin: 1vh;
    margin-left: 1vw;
    margin-right: 4vw;
}

.swiper-pagination-bullet {
    background: white;
}

.header {
    background-color: #202020;
    font-size: 2.5vw;
    width: 100%;
    line-height: 5vw;
    height: 5vw;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

#start-button-wrapper {
    text-align: center;
}

#start-button {
    margin-top: 2%;
    background-color: red;
    -webkit-border-radius: 0.8vw;
    border-radius: 0.8vw;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 5vh;
    font-weight: bold;
    padding: 2vh 0px;
    text-decoration: none;
    min-width: 90%;
}

#lean-angle-panel {
    float: left;
    width: 50%;
}

.min-max {
    font-size: 2vw;
    margin-left: 4vw;
}

.min-max-text {
    float: left;
    min-width: 14vw;
}

.min-max-angle {
    font-family: SevenSegment;
    font-size: 2vw;
}

#gps-info-panel {
    float: right;
    width: 50%;
}

#gps-accuracy {
    font-family: SevenSegment;
    font-size: 3vw;
}

#gps-speed-wrapper {
    line-height: 40vw;
    height: 40vw;
    vertical-align: middle;
    text-align: right;
    font-family: SevenSegment;
}

#gps-speed {
    font-size: 27vw;
}

#gps-speed-type {
    font-size: 5vw;
}

#lean-angle-dial {
    width: 100%;
    height: 30vw;
}

#log {
    font-family: courier, monospace;
    font-size: 1.5vw;
}

#crash-not-detected-text {
    font-size: 3vw;
}

#crash-detected-button-wrapper {
    text-align: center;
}

#crash-detected-button {
    margin-top: 2%;
    background-color: red;
    -webkit-border-radius: 0.8vw;
    border-radius: 0.8vw;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 7vh;
    font-weight: bold;
    padding: 4vh 0px;
    text-decoration: none;
    min-width: 90%;
}

#crash-detected-timer-text {
    font-size: 3vw;
    text-align: center;
}

#crash-detected-timer {
    font-family: SevenSegment;
    font-size: 30vw;
}
